body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: block;
}

.button {
  background: inherit;
  border: none;
  color: #808080;
  cursor: pointer;
}

.mark-text {
  text-decoration: line-through;
  opacity: 0.5;
  background-color: lightcyan;
}

.general-block {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  text-align: center;
}

.todos-block {
  background-color: white;
  box-shadow: 0 0 10px 0px grey;
}

#new-task {
  font-size: 24px;
  border: none;
  padding: 16px;
  outline: none;
  border-bottom: 1px solid #80808030;
}

#new-task::placeholder {
  opacity: 0.5;
  font-style: italic;
}

.task-item {
  display: flex;
  border-bottom: 1px solid #80808030;
}

.icon {
  width: 30px;
  height: 30px;
  background: inherit;
  opacity: 0.6;
  cursor: pointer;
}

.task-item__text-block {
  font-size: 24px;
  width: 100%;
  padding: 16px;
}

.task-item__input-block {
  font-size: 24px;
  border: none;
  outline: none;
  padding: 0;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #bfbfbf;
}

.footer {
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
  text-align: center;
}