body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: block;
}

.button {
  background: inherit;
  border: none;
  color: #808080;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 15px;
}

.mark-text {
  text-decoration: line-through;
  opacity: 0.5;
}

.general-block {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  text-align: center;
}

.todos-block {
  background-color: white;
  box-shadow: 0 0 10px 0px grey;
}

.new-task-block {
  border-bottom: 1px solid #80808030;
}

#new-task {
  font-size: 24px;
  border: none;
  padding: 16px;
  outline: none;
}

#new-task::placeholder {
  opacity: 0.5;
  font-style: italic;
}

.task-item {
  display: flex;
  border-bottom: 1px solid #80808030;
}

.icon {
  width: 30px;
  height: 30px;
  background: inherit;
  opacity: 0.6;
  cursor: pointer;
}

.task-item__text-block {
  font-size: 24px;
  width: 100%;
  padding: 16px;
}

.task-item__input-block {
  font-size: 24px;
  border: none;
  outline: none;
  padding: 0;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #bfbfbf;
}

.bottom-menu__active-task-counter {
  order: 0;
}

footer {
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
  text-align: center;
}

@media (max-width: 425px) {
  .button {
    padding: 0 5px;
  }

  #new-task {
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  #new-task {
    max-width: 260px;
    width: 100%;
    padding: 10px 5px;
    font-size: 22px;
  }

  .task-item {
    font-size: 22px;
  }

  .task-item__text-block {
    padding: 10px 5px;
  }

  .bottom-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-menu__active-task-counter {
    order: 1;
    padding: 5px 0;
  }

  .bottom-menu__filters {
    display: flex;
    justify-content: space-around;
    max-width: 280px;
    width: 100%;
    padding: 5px 0;
  }
}